
:root {
  --mainColor: #ff9800;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  justify-content: center;
}

.wel a{
    color: transparent;
    -webkit-text-stroke: 2px var(--mainColor);
}

.wel a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
}

@supports not(-webkit-text-stroke: 2px red) {
  .wel a:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}


.color-bg{
    background: #ffa73b;
    height: 200px;  
}
.bg-color{
    /* background: #eee; */
    border-radius: 5px;
    margin-top: -100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-bottom: 50px;
   
}
.bg-color img{
    margin-top:40px ;
    width: 70px;
    height:70px;
}
.bg-color h2{
    color: #000;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 20px;
}
.bg-color p{
    color: #000;
    text-align: center;
    font-size: 15px;
    margin: 25px;
}
.bg-color .inner{
    background: #fff;
}
/*.bg-color .abc button{
    background-color: #ffa73b;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
}*/

.bg-color .abc button{
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffa73b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(202, 182, 182);
}
.abc button:hover {background-color: #0a335d}

.abc button:active {
  background-color: #0a335d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.bg-color .link a{
    color: #ffa73b;
    font-size: 20px;
    text-align: center;
}
.bg-color .alert a{
    color: #ffa73b;
}
.bg-color .xyz a{
    color: black;
    text-align: center;
    text-decoration: underline;
}
.bg-color .abc a{
    color: black;
    text-align: center;
    text-decoration: underline;
}
.bg-color .egf a{
    color: black;
    text-decoration: underline;
}